.shorts__block {
    flex: 1 1 76%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
}
.shorts__block .card-item {
    width: 313px;
    height: 514px;
    justify-content: start;
}
.shorts__block .card-image {
    min-height: 222px;
    margin-top: 20px;
}
.shorts__block .card-image img {
    width: 100%;
    height: 100%;
}
.shorts__block .card-name {
    max-width: 100%;
}
.shorts__block .name-item {
    font-style: 400;
    font-size: 20px;
    line-height: 30px;
}
.card-color-choose {
    height: 55px;
}
.btn_active {
    background: none;
    border: 1px solid #B93B54;
    color: #B93B54;
}